<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spell Checker App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="topwrap">
        <h1>Cek Ejaan Bahasa Indonesia dengan</h1>
        <h1>PeriksAksara!</h1>
    </div>

    <div class="mid">
        <form action="/spell" method="post">
            <label for="text">Try typing Indonesia below!</label><br>
            <textarea id="text" name="text" rows="4" cols="50"></textarea><br>
            <button type="submit">Check Spelling</button>
        </form>
    </div>

<div class="text">
    {% if original_text %}
    <h2>Original Text:</h2>
    <p>{{ original_text }}</p>
    {% endif %}

    {% if corrected_text %}
    <h2>Corrected Text:</h2>
    <p>{{ corrected_text|safe }}</p>
    {% endif %}
</div>

    </div>
</body>
</html>
